[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
requests = "*"
Flask = "==0.12"
PyYAML = "==4.2b4"
Flask-Bootstrap4 = "==4.0.2"
flask-sqlalchemy = "==2.5.1"
Flask-Assets = "==0.12"
psycopg2-binary = "==2.9.1"
Flask-Migrate = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.9"
