[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
netifaces = "==0.10.6"
gunicorn = "==19.7.1"
sqreen = "==1.13.4"
boto3 = "*"
requests = "*"
Flask = "==0.12"
PyYAML = "==4.2b4"

[dev-packages]

[requires]
python_version = "3.9"
