[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Flask = "==0.12.3"
Flask-Bootstrap4 = "==4.0.2"
Flask-Assets = "==0.12"
# PyYAML = "==5.3.1"
PyYAML = "==4.2b4"


[dev-packages]

[requires]
python_version = "3.9"
