{% extends 'base.html' %}
{% block title %}welcome to jeffsonlinebooks.com{% endblock %}

{% block page_content %}
<div class="row">
<div class="col-md-12" style="padding-top: 30px;">

<div style="color: green;"> {{ fl }}</div>


            <h3 style="margin-bottom: 30px;">Expansion Plans - Top Secret</h3>
            <table style="font-size: 18px;">
                <tr style="margin-bottom: 20px;">
                    <td width="900px;" align="left">1. Create Customer Search Capabilities</td>
                    <td>Jan 2019</td>
                </tr>
               <tr style="margin-bottom: 10px;">
                    <td  width="900px;" align="left">2. Find way to buy more books to sell</td>
                    <td>Feb 2019</td>
                </tr>
              <tr style="margin-bottom: 10px;">
                    <td  width="900px;" align="left">3. Expand into non technical book titles. i.e recipe books, romance novels, etc</td>
                    <td>Aug 2019</td>
                </tr>
               <tr style="margin-bottom: 10px;">
                    <td  width="900px;" align="left">4. Move HQ from Garage to South Lake Union</td>
                    <td>Jan 2020</td>
                </tr>
               <tr style="margin-bottom: 10px;">
                    <td  width="900px;" align="left">5. Open first retail location [Bellevue, WA]</td>
                    <td>Aug 2020</td>
                </tr>
                 <tr style="margin-bottom: 10px;">
                    <td  width="900px;" align="left">6. Expand into Checkout Free Stores</td>
                    <td>Dec 2020</td>
                </tr>
                   <tr style="margin-bottom: 10px;">
                    <td   width="900px;"align="left">7. Solicit bid for HQ2 - thinking Winnipeg</td>
                    <td>Sept 2021</td>
                </tr>
                   <tr style="margin-bottom: 10px;">
                    <td  width="900px;" align="left">8. Exand into Cloud Computing</td>
                    <td>Jan 2022</td>
                </tr>
            </table>


</div><!-- end col -->
</div><!-- end row -->

{% endblock %}