



{% extends 'base.html' %}
{% block title %}welcome to jeffsonlinebooks.com{% endblock %}

{% block page_content %}
<div class="col-md-12 text-center" style="padding-top: 45px;">
    <div style="padding-top: 20px;font-size: 16px;">Here at Jeff's Books we are always looking for new programming texts for our extensive inventory.</div>
</div>

<div class="row text-left" style="margin-top: 220px;">
<div class="col-md-12">

<h3>Upload eBook here</h3>
{% if file_name %}
<span style="font-size: 18px;color: #9C1A1C;">{{file_name}}</span>
{% else %}
  <span style="font-size: 18px;color: #CECECE;">-</span>
{% endif %}
    <form action="{{ url_for('main.process_upload') }}" method=post enctype=multipart/form-data class="">
        <div class="form-group"><input type="file" id="file" name="file" class=""></div>
           <button type="submit" class="btn btn-default">Submit</button>
    </form>
            </div>
        </div>

{% endblock %}